<!DOCTYPE html>
<html>
  <head>
    <script src="script.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>
    <link href="/style.css" type="text/css" rel="stylesheet">
    

    <title>Hedge Cutters</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/ac93c2afa2.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="nav">
        <div class="logo">
          <img src="/logo.png" alt="Hedge Cutters Logo">
          </div>
        <div class="name">
          <p>
            Hedge Cutters
          </p>
        </div>
        <span id="toggle-switch" style="float:right; font-size: 20px;">
          <button class="btn"><i class="far fa-moon"></i></button>
        </span>     
    </header>
    
    <%= yield %>

    <script type="text/javascript">
    const DARK_MODE = 'dark';
    const LIGHT_MODE = 'light';
    const THEME = 'mode';
    currentMode = DARK_MODE;

    window.onload = applyTheme();
    
    document.addEventListener(
      'DOMContentLoaded', (event) => {
        const toggleSwitch = document.getElementById('toggle-switch');
        toggleSwitch.onclick = function() {
          let currentMode = localStorage.getItem(THEME);
          localStorage.setItem(
            THEME, 
            currentMode === DARK_MODE ? LIGHT_MODE : DARK_MODE
          );
          localStorage.setItem('update', true)
          applyTheme();
        }
      }
    );

    const event = new Event('updateTheme');
    function applyTheme() {
      let html = document.documentElement;
      let currentMode = localStorage.getItem(THEME);

      if (currentMode === DARK_MODE) {
        html.classList.add(DARK_MODE);
        document.getElementById('toggle-switch').innerHTML = 
          '<button class="btn"><i class="far fa-sun"></i></button>';
      } 
      else {
        html.classList.remove(DARK_MODE);
        document.getElementById('toggle-switch').innerHTML = 
          '<button class="btn"><i class="far fa-moon"></i></button>';
      }
    }
    </script>  
  </body>
</html>
